:root {
    --primary-blue: #131c63;
    --light-gray: #f4f4f4;
    --accent-red: #B22222;
    --text-dark: #333333;
    --footer-gray: #555555;
  }
blockquote {
     
  border-left: 4px solid #888; 
  padding-left: 1em;          
  margin: 1.5em 0;
  color: #333;
  font-style: italic;
  font-family: "Inter", sans-serif;
}
.elencoalf{
    font-size: 150%;
   
}
.elencoalf li{
    margin-left: 10%;
    list-style:circle;
    font-size: 80%;
}
.elencoalf a{
    color:var(--text-dark)
}