:root {
    --primary-blue: #131c63;
    --light-gray: #f4f4f4;
    --accent-red: #B22222;
    --text-dark: #333333;
    --footer-gray: #555555;
  }
.eleargo{
    font-size: 150%;
   
}
.eleargo li{
    margin-left: 10%;
    list-style:circle;
    font-size: 80%;
}
.eleargo a{
    color:var(--text-dark)
}