:root {
    --primary-blue: #131c63;
    --light-gray: #f4f4f4;
    --accent-red: #B22222;
    --text-dark: #333333;
    --footer-gray: #555555;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }body{
    background-color: var(--light-gray);
    
  }
  .pagina{
  
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
  }
  .apice{
    color:var(--accent-red)
  }

  .fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.riferimento{
  color: var(--text-dark);
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
 @media screen  and (max-width:767px) {
  
 
  
  .header{
    background-color: var(--primary-blue);
    width:100%;
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 4px 0 black;
    position: fixed;
    z-index: 1;
    
    
    
  }
  .logo:hover{
    color: var(--light-gray);
  }

  
  footer{
    background-color: var(--footer-gray);
    padding:10px;
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
    text-align: center;
    line-height: 2;
    max-height: max-content;
    
    
  }

 
  body a{
    color:var(--light-gray) ;
   
    text-decoration: none;
  }
  body a:hover {
    color: var(--accent-red);
  }
  header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--primary-blue);
  }
  .menu li{
    
    border-top: 0.5px solid var(--light-gray);
  }
  .menu a{
    display: block;
    padding: 1%;
    font-size: 20px;
    padding-left: 15px;
    
  }
  .menu a:hover{
    background-color: var(--text-dark);
  }
  header .logo{
    font-size: 35px;
    position: absolute;
    padding: 10px;
    
    
  }
  header .menu{
    clear: both;
    
    transition: max-height 0.5s ease-out;
    max-height: 0;
    
    
  }
  header .menu-icon{
    border: 2px solid var(--footer-gray);
    padding: 28px 20px;
    position: relative;
    cursor: pointer;
    float: left;
  }
  .header .menu-icon .nav-icon{
    background-color: var(--light-gray);
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
  }
  .header .menu-icon .nav-icon::before{
    background-color: var(--light-gray);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
    top: -5px;
  }
  .header .menu-icon .nav-icon::after{
    background-color: var(--light-gray);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
    top: 5px;
  }
  .header .menu-btn{
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu{
    
    max-height:240px;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon{
    
    background-color: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
  }
  .header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
  }

  .contenuto{
    color:#131c63;
    
    top: 60px;
    
  }
  
  .contenuto img{
   padding-top: 60px;
    max-width: 100%;
    max-height: auto;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2))   ;

  }
  .testo{  
    padding-left: 3%;
    font-family: "Inter", sans-serif;

  }
  .testo h1{
    
    padding: 5%;
    color: var(--text-dark);
    
  }
  .testo p{
    font-weight: 400;
    font-size: 1.25rem  ;
    line-height: 2.35rem;
    padding-top: 4%;
    color: var(--text-dark);
    padding-bottom: 5%;
  }
  .destraCommento{
    border: 2px solid var(--footer-gray);
    border-radius: 5px;
    padding: 1%;
    margin: 20%;
    margin-left: 0;
    color: var(--text-dark);
    
  }
  .pagina_titolo{
    margin-bottom: 2%;
  }
    /* componente che permette collegamento a margine della spiegazione della parola */
    .spiega{
      text-decoration: underline;
      color: var(--text-dark);
      
    }
    .spiega:hover{
      color: var(--accent-red);
      cursor: pointer;
    }
}











  @media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .header{
      background-color: var(--primary-blue);
      width:100%;
      font-family: 'Merriweather', serif;
      box-shadow: 1px 1px 4px 0 black;
      position: fixed;
      z-index: 1;
      
      
      
    }
    .logo:hover{
      color: var(--light-gray);
    }
  
    
    footer{
      background-color: var(--footer-gray);
      padding:10px;
      font-family: 'Roboto', sans-serif;
      color: var(--light-gray);
      text-align: center;
      line-height: 2;
      max-height: max-content;
      
      
    }
  
   
    body a{
      color:var(--light-gray) ;
     
      text-decoration: none;
    }
    body a:hover {
      color: var(--accent-red);
    }
    header ul{
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: var(--primary-blue);
    }
    .menu li{
      
      border-top: 0.5px solid var(--light-gray);
    }
    .menu a{
      display: block;
      padding: 1%;
      font-size: 30px;
      padding-left: 15px;
      
    }
    .menu a:hover{
      background-color: var(--text-dark);
    }
    header .logo{
      font-size: 50px;
      position: relative;
      padding: 10px;
      
      
    }
    header .menu{
      clear: both;
      
      transition: max-height 0.5s ease-out;
      max-height: 0;
      
      
    }
    header .menu-icon{
      border: 2px solid var(--footer-gray);
      padding: 28px 20px;
      position: relative;
      cursor: pointer;
      float: left;
    }
    .header .menu-icon .nav-icon{
      background-color: var(--light-gray);
      display: block;
      width: 18px;
      height: 2px;
      position: relative;
      transition: background-color .2s ease-out;
    }
    .header .menu-icon .nav-icon::before{
      background-color: var(--light-gray);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transition: all .2s ease-out;
      position: absolute;
      top: -5px;
    }
    .header .menu-icon .nav-icon::after{
      background-color: var(--light-gray);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transition: all .2s ease-out;
      position: absolute;
      top: 5px;
    }
    .header .menu-btn{
      display: none;
    }
    
    .header .menu-btn:checked ~ .menu{
      
      max-height:300px;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon{
      
      background-color: transparent;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::before{
      transform: rotate(-45deg);
      top: 0;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::after{
      transform: rotate(45deg);
      top: 0;
    }
  
    .contenuto{
      color:#131c63;
      
      top: 60px;
      
    }
    .contenuto img{
     padding-top: 60px;
      max-width: 100%;
      max-height: auto;
      filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2)) ;
    }
    .testo{  
      padding-left: 3%;
      font-family: "Inter", sans-serif;
  
    }
    .testo h1{
      
      padding: 5%;
      color: var(--text-dark);
      
    }
    .testo p{
      font-weight: 400;
    font-size: 1.25rem  ;
    line-height: 2.35rem;
    padding-top: 4%;
    color: var(--text-dark);
    padding-bottom: 5%;
    }

   
      .destraCommento{
        border: 2px solid var(--footer-gray);
        border-radius: 5px;
        padding: 1%;
        margin: 20%;
        margin-left: 0;
        color: var(--text-dark);
        
    }
    .pagina_titolo{
      margin-bottom: 2%;
    }
      /* componente che permette collegamento a margine della spiegazione della parola */
      .spiega{
        text-decoration: underline;
        color: var(--text-dark);
        
      }
      .spiega:hover{
        color: var(--accent-red);
        cursor: pointer;
      }
  }










  @media screen and (min-width: 1024px)  {
    
    .header{
      background-color: var(--primary-blue);
      width:100%;
      font-family: 'Merriweather', serif;
      box-shadow: 1px 1px 4px 0 black;
      position: fixed;
      z-index: 1;
      
      
      
    }
    .logo:hover{
      color: var(--light-gray);
    }
  
    
    footer{
      background-color: var(--footer-gray);
      padding:10px;
      font-family: 'Roboto', sans-serif;
      color: var(--light-gray);
      text-align: center;
      line-height: 2;
      max-height: max-content;
      
      
    }
  
   
    body a{
      color:var(--light-gray) ;
     
      text-decoration: none;
    }
    body a:hover {
      color: var(--accent-red);
    }
    header ul{
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: var(--primary-blue);
    }
    .menu li{
      
      border-top: 0.5px solid var(--light-gray);
    }
    .menu a{
      display: block;
      padding: 1%;
      font-size: 30px;
      padding-left: 15px;
      
    }
    .menu a:hover{
      background-color: var(--text-dark);
    }
    header .logo{
      font-size: 50px;
      position: relative;
      padding: 10px;
      
      
    }
    header .menu{
      clear: both;
      
      transition: max-height 0.5s ease-out;
      max-height: 0;
      
      
    }
    header .menu-icon{
      border: 2px solid var(--footer-gray);
      padding: 28px 20px;
      position: relative;
      cursor: pointer;
      float: left;
    }
    .header .menu-icon .nav-icon{
      background-color: var(--light-gray);
      display: block;
      width: 18px;
      height: 2px;
      position: relative;
      transition: background-color .2s ease-out;
    }
    .header .menu-icon .nav-icon::before{
      background-color: var(--light-gray);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transition: all .2s ease-out;
      position: absolute;
      top: -5px;
    }
    .header .menu-icon .nav-icon::after{
      background-color: var(--light-gray);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transition: all .2s ease-out;
      position: absolute;
      top: 5px;
    }
    .header .menu-btn{
      display: none;
    }
    
    .header .menu-btn:checked ~ .menu{
      
      max-height:400px;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon{
      
      background-color: transparent;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::before{
      transform: rotate(-45deg);
      top: 0;
    }
    .header .menu-btn:checked ~ .menu-icon .nav-icon::after{
      transform: rotate(45deg);
      top: 0;
    }
  
    .contenuto{
      color:#131c63;
      background: #0a0a8f;
background: linear-gradient(180deg,rgba(10, 10, 143, 1) 39%, rgba(19, 28, 99, 1) 63%);
      top: 63px;
      
    }
    .contenuto img{
      
      margin-left: 20vw;
      
     
      display: block;
      
     padding-top: 63px;
      max-width: 50%;
      
      
      filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2)) ;
    }
    
   
    .testo{
      
      padding-left: 3%;
      height: auto;
      font-family: "Inter", sans-serif;
      display: grid;
      grid-template-areas: 
      "margine pagina_titolo destra "
      "margine pagina_testo destraCommento";
      grid-template-columns: 0.7fr 2fr 1.3fr;
      
    }
    .pagina_titolo{
     
      grid-area:  pagina_titolo;
     padding-top: 5%;
      color: var(--text-dark);
      
    }
    .pagina_testo{
      
      grid-area: pagina_testo;
      font-weight: 400;
      font-size: 1.25rem  ;
      line-height: 2.35rem;
      padding-top: 4%;
      color: var(--text-dark);
      padding-bottom: 5%;
    }
    .margine{
      grid-area: margine;
    }
    .destra{
      grid-area: destra;
    }
    .destraCommento{
      
      grid-area: destraCommento;
      
      
    }
    .destraCommento p{
      border: 2px solid var(--footer-gray);
      border-radius: 5px;
      padding: 1%;
      margin: 20%;
      margin-top: 1800px;
      color: var(--text-dark);
      display:none;
      
    
    }
    /* componente che permette collegamento a margine della spiegazione della parola */
    .spiega{
      text-decoration: underline;
      color: var(--text-dark);
     
      
    }
    .spiega:hover{
      color: var(--accent-red);
      cursor: pointer;
      
    }
   
  }